In [ ]:
import pandas as pd

In [ ]:
list_buah = ['jeruk','mangga','rambutan','leci','nanas','manggis']
df = pd.DataFrame(list_buah)
df

          0
0     jeruk
1    mangga
2  rambutan
3      leci
4     nanas
5   manggis

In [ ]:
list_buah = ['jeruk','mangga','rambutan','leci','nanas','manggis']
list_berat = [50,800,150,10,2,300,70]
df = pd.DataFrame (list(zip(list_buah,list_berat)), columns = ['nama buah','berat buah'])
df

  nama buah  berat buah
0     jeruk          50
1    mangga         800
2  rambutan         150
3      leci          10
4     nanas           2
5   manggis         300

In [ ]:
lst = [['bejo',25],['ari',30],
       ['asep',26],['richard',22]]
df = pd.DataFrame(lst,columns = ['nama','usia'])
df

      nama  usia
0     bejo    25
1      ari    30
2     asep    26
3  richard    22

In [ ]:
car = {'type mobil':['honda civic','toyota corolla','ford focus','audi A4'],
       'harga(USD)':[22000,25000,2700,35000]}
df = pd.DataFrame(car)
df

       type mobil  harga(USD)
0     honda civic       22000
1  toyota corolla       25000
2      ford focus        2700
3         audi A4       35000

In [ ]:
df_super_store = pd.read_csv('/content/Super-Store-Dataset.csv')
df_super_store.head()

,order_id,order_date,customer_id,segment,category,sub_category,sales,quantity,profit
0,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Bookcases,261.9600,2,41.9136
1,CA-2016-152156,11/8/2016,CG-12520,Consumer,Furniture,Chairs,731.9400,3,219.5820
2,CA-2016-138688,6/12/2016,DV-13045,Corporate,Office Supplies,Labels,14.6200,2,6.8714
3,US-2015-108966,10/11/2015,SO-20335,Consumer,Furniture,Tables,957.5775,5,-383.0310
4,US-2015-108966,10/11/2015,SO-20335,Consumer,Office Supplies,Storage,22.3680,2,2.5164

In [ ]:
df_super_store = pd.read_excel('/content/datasetpilkadadki.xlsx')
df_super_store.head()

,Id,Sentiment,Pasangan Calon,Text Tweet
0,1,negative,Agus-Sylvi,Banyak akun kloning seolah2 pendukung #agussil...
1,2,negative,Agus-Sylvi,#agussilvy bicara apa kasihan yaa...lap itu ai...
2,3,negative,Agus-Sylvi,Kalau aku sih gak nunggu hasil akhir QC tp lag...
3,4,negative,Agus-Sylvi,Kasian oh kasian dengan peluru 1milyar untuk t...
4,5,negative,Agus-Sylvi,Maaf ya pendukung #AgusSilvy..hayo dukung #Ani...